build/
dist/
*.pyc
*.egg
*.egg-info
venv/
*.orig
.DS_Store
logs/*
*~
lib/*
*.csv
*.sql
*.bzip2
*.mo
*.tmp
.codeintel
*.sqlite3
*.key
*.secure
*.csr
*.crt
*.sublime-workspace
*.sublime-project
*.rdb
cryptoassets/lib