# Packages needed on rtd.org
apscheduler==3.0.1
SQLAlchemy==0.9.7
-e git+https://github.com/BlockIo/block_io-python.git@1.1.0-dev#egg=block-io
blockchain==1.0.1
colorama==0.3.2
-e git+https://github.com/miohtama/python-bitcoinrpc.git@e43303bba7a671b383016d29f55fd03aa0df235b#egg=python-bitcoinrpc
ecdsa==0.11
logutils==0.3.3
pusherclient==0.3.0
pycrypto==2.6.1
PyYAML==3.11
requests==2.4.3
six==1.8.0
websocket-client==0.21.0
zope.deprecation==4.1.1
zope.sqlalchemy==0.7.5
zope.dottedname==4.0.1
rainbow-logging-handler==2.2.2

python-slugify==0.1.0
Unidecode==0.04.16

# pytz==2014.10
# tzlocal==1.1.2